.div1{
    color:red;
     font-size: 50px;
      /* border: solid black 5px; */
       background-color:navajowhite;
    margin: 10px 10px 10px 10px;
    padding:2px 2px 2px 2px; justify-content: center; border-radius: 8px; width: 16cm;
    border-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 2px 2px black;
}
#logo{
    border-radius: 50%;
}
.h2{
    font-size: large; font-family: 'Times New Roman', Times, serif; font-weight: bolder; color: black;
}
.p1{
    font-size: large; font-weight: bold; font-style: italic; flex-direction: row;
}
.h1{
    color: darkmagenta; font-style: italic; text-underline-position: below;
}
.h1{
    font-size: medium; font-family: 'Times New Roman', Times, serif; font-weight: lighter; font-style: normal;
}
.main-div{
    border: none;
    background-color: none;
    vertical-align: auto;
}




    
